@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

* {
  --color-black: #202032;
  --color-ghost-white: #f4f6f8;
  --color-white: #fff;
  --color-gray: #a0a2a5;
}


body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--color-ghost-white);
  color: var(--color-black);
}

.m-0 {
  margin: 0;
}

.gray-text {
  color: var(--color-gray);
}
.white-text {
  color: var(--color-white);
}
